<div class="card">
    <div class="card-header">{{group.group_name}}</div>
    <div class="card-body">
        <div class="d-flex flex-row">
            <!-- TODO (oneeyedsunday) Add borders? -->
            <div class="group--card__widget">
                <span class="">{{ group.group_name?.substr(0, 2)?.toLowerCase() }}</span>
            </div>
           
            <div class="ml-2 group--card__description">
                {{ group.description }}
            </div>
        </div>
    </div>
</div>