<!-- start banner Area -->
<section class="about-banner">
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Staff				
                </h1>	
                <p class="text-white link-nav"><a routerLink="/dashboard">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/organizations/staff"> Staff</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	


<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Academic Staff</h1>
                    <p>Diligently tutoring the next generation of researchers and industry specialists</p>
                </div>
            </div>
        </div>
        
        <div class="filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".professor">Professors</li>
                <li data-filter=".doctor">Doctors</li>
            </ul>
        </div>
        
        <div class="filters-content">
            <div class="row grid">
                <div class="single-portfolio col-sm-4 all professor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Prof. Nike Osofisan</h4>
                        <div class="cat">Professor</div>
                    </div>					                               
                </div>
                <div class="single-portfolio col-sm-4 all professor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Prof. Charles Uwadia</h4>
                        <div class="cat">Professor</div>
                    </div>					                               
                </div>                            
                <div class="single-portfolio col-sm-4 all doctor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Dr. O.A. Sennaike</h4>
                        <div class="cat">Ph.D</div>
                    </div>					                               
                </div>
                <div class="single-portfolio col-sm-4 all doctor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Dr. Florence Oladeji</h4>
                        <div class="cat">Ph.D</div>
                    </div>					                               
                </div>
                <div class="single-portfolio col-sm-4 all doctor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Dr. Nureni Azeez</h4>
                        <div class="cat">Ph.D</div>
                    </div>					                               
                </div>
                <div class="single-portfolio col-sm-4 all doctor">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="assets/home/images/p1.jpg" alt="">
                        </div>
                        <a href="assets/home/images/p1.jpg" class="img-pop-up">	
                            <div class="middle">
                            <div class="text align-self-center d-flex"><img src="assets/home/images/preview.png" alt=""></div>
                            </div>
                    </a>                              		
                    </div>
                    <div class="p-inner">
                        <h4>Dr. Adewole Rufai</h4>
                        <div class="cat">Ph.D</div>
                    </div>					                               
                </div>

            </div>
        </div>
        
    </div>
</section>
<!-- End portfolio-area Area -->	
