<!-- <div class="jumbotron">
    <p class="lead">Welcome to Workflow</p>
</div> -->

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Worflow</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLink="/account/signin">Sign in</a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Workflow</h1>
      <p class="lead">
          Workflow is a workflow manager.
      </p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Check out the <a href="https://github.com/oneEyedSunday/workflow/tree/master/docs" target="_blank">docs</a>, by <a href="https://twitter.com/idiakosesunday">@oneeyedsunday</a>.</p>
      </div>
    </footer>
</div>