<div class="my-5">
    <div class="w-100 px-4 my-2 d-flex" style="justify-content: flex-end"
    [ngClass]="{'d-none': loading }">
        <a routerLink="new" *ngIf="hasPrivilege">&#x0002B; Document</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" *ngIf="documents?.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                    <!-- TODO copy public link -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of documents; let index = index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ doc.filename }}</td>
                    <td>
                        <a href="{{doc.link}}" target="_blank">Preview</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="screen--mask" *ngIf="!documents?.length || loading">
        <p class="lead" *ngIf="!documents?.length && documents">
            No Documents yet. 
            <span *ngIf="hasPrivilege">
                Add &nbsp; <a routerLink="new">here</a>
            </span>
        </p>
        <app-loader [size]="5" *ngIf="loading"></app-loader>
    </div>
</div>