<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" 
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span data-feather="bar-chart"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/process" routerLinkActive="active">
            <span data-feather="home"></span>
            Processes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/documents" routerLinkActive="active">
            <span data-feather="clipboard"></span>
            Documents
          </a>
        </li>
        <li class="nav-item" *ngIf="hasPrivilege">
          <a class="nav-link" routerLink="/forms" routerLinkActive="active">
            <span data-feather="file-text"></span>
            Forms
          </a>
        </li>
      </ul>
      <ng-container *ngIf="hasPrivilege">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Organization Mgt.</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/organizations/groups"
            routerLinkActive="active">
              <span data-feather="users"></span>
              Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/organizations/staff"
            routerLinkActive="active">
              <span data-feather="users"></span>
              Staff
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
</nav>