<div class="container-lg p-0" style="height: 100vh">
  <div class="height-full">
    <!-- Board wrapper -->
    <!-- attach view ref here -->
    <!-- TODO specify height of this wrapper -->
    <div class="position-relative height-full" [ngClass]=" {'d-none': !process} ">
      <!-- Process details div -->
      <div class="d-flex flex-row py-2 justify-content-between px-2 pb-0 f6">
        <div class="d-flex flex-row">
          <div class="d-table-cell position-relative">
            <h3 class="d-flex align-items-center f5 mb-1">
              <span>{{ process?.process_name }}</span>
            </h3>
            <button class="btn btn-link pl-0  text-inherit">
              <span class="d-none">Updated {{ process?.lastUpdatedAt | timeAgo }}</span>
            </button>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center f6">
          <div class="d-table-cell">
            <button type="button" 
            class="btn btn-link muted-link no-underline v-align-middle d-flex align-items-center" 
            (click)="openSideBar('addStage', null)">
              ➕
              <!-- TODO replace with decimal entity rep of &plus; -->
              <span>Add Stage</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Board div holding tasks  -->
      <div class="no-wrap d-flex process-columns position-relative bg-white">
        <div class="w-100 p-2 d-flex height-full">
          <div class="process-column mr-3" *ngFor="let stage of orderStages(process?.stages); let i = index;" [attr.data-column_id]="12">
            <div class="wrapper--shadow scroll-wrapper height-full">
              <div class="text-uppercase flex-shrink-0">
                <div class="p-2 position-relative">
                  <div class="dropdown remove-caret dropdown--options float-right" placement="left-top" ngbDropdown>
                    <button type="button" class="btn btn-light py-1 px-2 bg-transparent" ngbDropdownToggle>
                      <span data-feather="more-horizontal"></span>
                    </button>
                    <div class="dropdown-menu py-0" role="menu" ngbDropdownMenu>
                      <button (click)="completeStage(stage)" class="dropdown-item py-2"
                        *ngIf="!stage.isComplete">
                        <span data-feather="check-circle"></span> Complete
                      </button>
                      <button (click)="openSideBar('editStage', stage)"
                        class="dropdown-item py-2"><span data-feather="edit"></span>  Edit</button>
                        <!-- TODO is this dropdown necessary self -->
                      <button class="dropdown-item py-2" (click)="confirmDeleteStage(stage)">
                        <span data-feather="trash-2"></span> Delete</button>
                    </div>
                  </div>
                  <button class="float-right btn btn-link muted-link p-0"
                  style="margin-top: -0.3em"
                  (click)="openSideBar('addTask', null, stage)">
                      <span  data-feather="plus"></span>
                  </button>
                  <h4 class="px-1 m-0 f5 v-align-middle d-inline">
                    <span class="badge badge-secondary position-badge mr-1" [ngClass]="{ 'd-none': !stage.tasks?.length }">{{ stage.tasks?.length }}</span>
                    <span>{{ stage.name }}</span>
                  </h4>
                </div>
              </div>

              <div class="scroll flex-grow">
        
                <div class="board-cards custom-scroll px-2 pb-2 flex-grow" dragula="rearrangetask" [attr.data-columnid]="3">
                  <div  *ngFor="let task of stage.tasks" [attr.data-taskid]="4" class="board-card">
                    <div class="d-flex flex-row">
                      <div class="flex-auto position-relative bg-white rounded">
                        <div class="pl-5 p-2 position-relative">
                          <a class="task--title mb-1 mr-5" (click)="preventDefault($event)"
                          (click)="openSideBar('openTask', task)" href="#">
                          <!-- TODO (oneeyedsunday) link to task page-->
                            {{ task.summary }}
                          </a>
                          <span class="position-absolute task--info">
                            <div 
                              [ngClass]=" { 'task-status--complete': task.isComplete, 'task-status--inprogress': !task.isComplete } ">
                              <span data-feather="info"></span>
                            </div>
                          </span>
                          <div class="dropdown remove-caret dropdown--options float-right" placement="left-top" ngbDropdown>
                            <button type="button" class="btn btn-light py-1 px-2 bg-transparent" ngbDropdownToggle>
                              <span data-feather="more-horizontal"></span>
                            </button>
                            <div class="dropdown-menu py-0" role="menu" ngbDropdownMenu>
                              <button class="dropdown-item py-2" (click)="completeTask(stage, task)">
                                  <span data-feather="check-square"></span> Complete
                              </button>
                              <button class="dropdown-item py-2" (click)="openSideBar('editTask', task, stage)">
                                  <span data-feather="edit-3"></span> Update Task
                              </button>
                              <button class="dropdown-item py-2" (click)="confirmDeleteTask(stage, task)">
                                  <span data-feather="trash"></span> Discard Task</button>
                            </div>
                          </div>
                          <div class="my-1" style="vertical-align: middle !important; min-height: 1px;">
                            <!-- Describe Form attached to Task here -->
                            <p class="detail">
                              Form: <span class="text-muted">{{ task.form }}</span>
                            </p>
                            <!-- Describe & link to document described to task here -->
                            <p class="detail">
                              Document: <span class="text-muted">{{ task.document }}</span>
                            </p>
                          </div>
                          <small class="text-gray d-block f-90">
                            Assigned to {{ getUserNameFromId(task.users) }} & {{ getGroupNameFromId(task.groups) }}
                          </small>
                          <!-- Heck even priority here -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-2 bg-gray-light border-top flex-shrink-0 rounded stage--footer">

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Div that pops up -->
      <div class="process-pane closed pop-pane border-left border-bottom bg-white" #refSidePane>
        <div class="d-flex flex-column height-full">
          <div class="d-flex flex-column">
            <div class="flex-auto overflow-auto">
              <div class="p-3 d-flex f4 lh-condensed justify-content-between border-bottom">
                <div class="flex-auto overflow-hidden lh-default">
                  <div>{{ sidebarContent?.description }}</div>
                  <!-- Form to edit name -->
                  <form class="d-none"></form>
                </div>
                <div class="d-flex">
                  <div>
                    <button class="btn btn-link close--btn pt-0" (click)="refSidePane.classList.toggle('closed') && sidebarContent = null">
                    <span data-feather="x"></span>
                    </button>
                  </div>
                </div>
                
                <!-- TODO put task creation cmp here -->
                
                
                <!-- TODO put stage creation cmp here -->
              </div>
              <div>
                  <ng-container *ngIf="sidebarContent">
                      <ng-container *ngIf="sidebarContent?.content['stage']">
                          <app-task-create
                          [forms]="forms"
                          [users]="users"
                          [errored]="uiState.taskError"
                          [groups]="groups"
                          [documents]="documents"
                          [stage]="sidebarContent.extra"
                          [task]="sidebarContent.content"
                          (taskUpdatedEvent)="handleTaskUpdate($event)"
                          ></app-task-create>
                      </ng-container>
        
                      <ng-container *ngIf="!sidebarContent?.content['stage']">
                        <app-project-stage 
                        [stage]="sidebarContent?.content"
                        [errored]="uiState.stageError"
                        [maxOrder]="sidebarContent?.content['id'] ? (process?.stages?.length || 1) : (process?.stages?.length || 0) + 1"
                        (stageUpdatedEvent)="handleStageUpdate($event)">
    
                        </app-project-stage>
                      </ng-container>
                        
                  </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO crad with CTA to add stage -->
    </div>

    <div *ngIf="uiState.loading" class="height-full d-flex justify-content-center align-items-center">
      <app-loader [size]="5"></app-loader>
    </div>
  </div>
</div>