@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "variables";
@import "core/sidebar";
@import "core/buttons";
@import "core/reboot";
@import "core/feather";
@import "core/navbar";
// @import "./scrollbar.scss";
@import "./auth.scss";
@import '~ngx-toastr/toastr-bs4-alert';
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
    font-size: $base-font-size;
}

/*
* Content
*/
  
[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
}


.screen--mask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


// asterisks
label[required]:after { content: '*'; color: red; margin-left: 2px }

.card {
    &-header {
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        color: #fff;
        & > * {
            color: #fff;
            line-height: 1.2em !important;
            margin-top: 20px;
            font-weight: 600;
        } 
    }
}

table{
    tr:hover {
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%)
    }
}
