@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "variables";
@import "core/sidebar";
@import "core/buttons";
@import "core/reboot";
@import "core/feather";
@import "core/navbar";
// @import "./scrollbar.scss";
@import "./auth.scss";

body {
    font-size: $base-font-size;
}

/*
* Content
*/
  
[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
}


.screen--mask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
